.pills-tab {
    background-color: gray;
}
#Instagram {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.img {
    object-fit:contain;
    width: 200px;
    height: 200px;
}